:root {
  --bg-color-purple: #a51680;
  --bg-color-beaige: #fcebd38f;
}

body {
  header {
    height: 280px;
    background-color: var(--bg-color-purple);
    background-image: url(./../img/pathHeader.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container-fluid {
    height: 802px;
    background-image: url("./../img/Rectangle\ 6.png");
    background-size: cover;
    background-position: center;
  }
  .about {
    height: 100%;
    .desc_about {
    }
    .img_bg {
      height: 100px;
      background-image: url("./../img/Group\ 2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
  .carousel-custom {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .carousel-custom {
    background-color: rgba(113, 113, 113, 0.199);
    .carousel-item {
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .gallery {
    min-height: 767px;
  }
  .service {
    background-color: var(--bg-color-beaige);
    min-height: 750px;
  }

  .formContact {
    background-color: var(--bg-color-beaige);
    min-height: 1079px;
  }
  .form-control {
    border-color: var(--bg-color-purple);
  }
  .form-control:focus {
    border-color: var(--bg-color-purple);
    box-shadow: 0 0 0 0.25rem #a5167f8a;
  }
  .form-label {
    font-size: 13px;
    text-wrap: nowrap;
  }

  .btn {
    background-color: var(--bg-color-purple);
    font-size: 15px;
    color: white;
  }
  .btn:hover {
    border: 1px solid var(--bg-color-purple);
    color: var(--bg-color-header);
  }
  footer {
    min-height: 360px;
    width: 100%;
    background-color: var(--bg-color-purple);
  }
}
